
.box{
        width: 100px;
        height: 100px;
        background-color: red;
        margin: 0 auto;
    }
    .circle{
        width: 100px;
        height: 100px;
        background-color: blue;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
    }